---
const { platform, username } = Astro.props;
const iconSrc = `/${platform}.svg`;
---
<a href={`https://www.${platform}.com/${username}`} aria-label={platform}>
  <img src={iconSrc} alt={platform} style="width:24px;height:24px;" />
</a>

<style>
  a {
    padding: 0.5rem;
    color: white;
    background-color: #e3be23;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
  }
  img {
    display: block;
  }
</style>
